@import "syntax-variables";
.choose-pane {
  background-color: rgba(112,182,101,.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: @syntax-text-color;
  font-size: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11;
  width: 100%;
  &::after {
    font-size: 14px;
  }
  &.active {
    background-color: rgba(0,0,0,0.5);
    color: fade(@syntax-text-color,50);
    &::after {
      content: 'Current Pane';
    }
  }
  &.last-focused {
    &::after {
      content: 'Last Focused';
    }
  }
}

#choose-pane-editor {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 0px;
  font-weight: normal;
  line-height: 1.28;
  cursor: default;
  white-space: nowrap;
  padding-left: 10px;
  &.is-focused {
    box-shadow: none;
  }
}
